@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model MyFirstMvcApp.Models.Product
@{
    ViewData["Title"] = "Product Created Successfully";

    <h2>Product created successfully</h2>

    <p><strong>Name:</strong> @Model.Name</p>
    <p><strong>Price:</strong> @Model.Price</p>
    <p><strong>Quantity:</strong> @Model.Quantity</p>
    

}
